@using Kufar.ViewModels
@model Kufar.ViewModels.CitiesViewModel
@{
    ViewData["Title"] = "Create";
}


<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
       <h3>Create City</h3>
                <label>Selected country: @Model.SelectedCountry?.Name</label>
            </div>
            <div class="form-group">
                <label>Current cities</label>
                @foreach (City u in Model.Cities)
                {
                <table>
                    <tr>
                    <td>@u.Name</td>
                    </tr>
                </table>


                    
                }
                </br>
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Countries" asp-action="Index">Back</a>
</div>