@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Itransition<br />
</address>

<address>
    <strong>Support:</strong> <a href="mailto:agodyl@mail.ru">agodyl@mail.ru</a><br />
    <strong>Marketing:</strong> <a href="mailto:agodyl@mail.ru">agodyl@mail.ru</a>
</address>
