@using Kufar.Models
@model Kufar.Models.User
@addTagHelper "*, Kufar"
@{
    ViewData["Title"] = "Список пользователей";
}
<h1>Advertisement</h1>
<br>
<h2>This site is for advertisement</h2>
<p>kuku</p>






