@model Kufar.Models.Advertisement

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Advertisement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="thumbnail" style="height: 160px; width:160px">
            <img id="photo" style="height: 150px; width: 150px" src="http://res.cloudinary.com/dr5gmgpmp/image/upload/v1527502379/empty_avatar.jpg";
        </div>

        <a href="#" id="upload_widget_opener">Добавить фото</a>
        <script src="https://widget.cloudinary.com/global/all.js" ; type="text/javascript"></script>
        <script src="~/js/photo.js" type="text/javascript"></script>
    </div>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group" hidden="hidden">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" id="inPhoto" value="http://res.cloudinary.com/dr5gmgpmp/image/upload/v1527502379/empty_avatar.jpg" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

