@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper "*, Kufar"

@{
    <h1>@ViewData["Title"]</h1>
}
<a asp-action="Create" class="btn btn-primary">Create New</a>
    @{ Html.RenderPartial("_List");}
    @{
        ViewData["Title"] = "Home Page";
    }
