@using Kufar.Models

@using Kufar.ViewModels

@model Kufar.ViewModels.IndexViewModel

@addTagHelper "*, Kufar"

@{
    ViewData["Title"] = "Сайт";
}

<br />

@Html.DropDownList("test",
    new List<SelectListItem>()
    {
        new SelectListItem(){Text = "text 1", Value = "1"},
        new SelectListItem(){Text = "text 2", Value = "2"}
    })


<a asp-action="Create">Create New</a>
@{Html.RenderPartial("_List");}
@{
    ViewData["Title"] = "Home Page";
}


