@model Kufar.ViewModels.IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@addTagHelper "*, Kufar"
@using Kufar.Models.Enums
@{
    <h1>@ViewData["Title"]</h1>
}

<a asp-action="Create" class="btn btn-primary">Create New</a>

@*<button id="List" onclick="changeView(0)"> list</button>
<button id="Block" onclick="changeView(1)">block</button>*@
<a id="List" asp-action="Index" asp-route-viewType="0"><span class="glyphicon glyphicon-th-list"></span></a>
<a id="Block"  asp-action="Index" asp-route-viewType="1"><span class="glyphicon glyphicon-th"></span></a>
<select id="Displayid" asp-items="Html.GetEnumSelectList<DisplayAdvertisement>()"></select>
@*<div id="content">@{Html.RenderPartial("_List");}</div>*@
@if (Model.ViewType == 0)
{
    Html.RenderPartial("_List", Model);
}
else if (Model.ViewType == 1)
{
    Html.RenderPartial("_Block", Model);
}





<script>
    function changeView(id) {
        $.ajax({
            url: '@Url.Content("~/")' + "Advertisements/ChangePartial/" + id,
            type: "GET",
            success: function (response) {
                $("#content").text("");
                $("#content").append(response);
            }
        });

    }
</script>


