@using Kufar.Models.Enums
@model Kufar.ViewModels.RegisterViewModel
<h2>Registration</h2>
<div class="col-md-6">
<form method="post" asp-controller="Account" asp-action="Register">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label asp-for="Year" class="control-label"></label><br />
        <input asp-for="Year" class="form-control" />
        <span asp-validation-for="@Model.Year"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="PasswordConfirm"></label><br />
        <input asp-for="PasswordConfirm" class="form-control" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
 
    <div>
        <br/>
        <input type="submit" class="btn btn-primary" value="Registration" />
    </div>
</form>
</div>