@using Microsoft.AspNetCore.Identity
@inject UserManager<User> UserManager
@model IEnumerable<Kufar.Models.User>
@{
    ViewData["Title"] = "Index";
}

<h2>User List</h2>
<head>
    <meta charset="utf-8"/>
</head>
<table class="table">
    <tr><th>Email</th><th>Year</th></tr>
    @foreach (var user in Model)
    {
        <tr >
        <td>@user.Email</td>
        <td>@user.Year</td>
        </tr>
    }
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<button data-modal-id="modal-1" class="open-modal">Open modal #1</button>
<button data-modal-id="modal-2" class="open-modal">Open modal #2</button>

<div id="modal-1" class="modal">
    <span class="modal-close">
        <svg viewbox="0 0 40 40">
            <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
        </svg>
    </span>
    <div>
        Modal 1
    </div>
</div>
<div id="modal-2" class="modal">
    <span class="modal-close">
        <svg viewbox="0 0 40 40">
            <path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
        </svg>
    </span>
    <div>
        Modal 2
    </div>
</div>

<div class="overlay"></div>
<script>
    $('.overlay, .modal-close').click(function() {
        $('.modal, .overlay').removeClass('shown');
    });
    $('.open-modal').click(function() {
        let modalId = $(this).data('modal-id');
        $(`.overlay, #${modalId}`).addClass('shown');
    });
</script>