@model Kufar.ViewModels.UserViewModel


<div class="row"> 
<div class="col-md-6"> 
    <div class="form-group">
        <label>Email</label>
        <dd>
            @Html.DisplayFor(model => model.Email)

        </dd>

    </div> 
    <div class="form-group">
        <label>Year</label>
        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>
    </div> 
      
   </div> 
</div>